
.white {
    background-color: white;
}
.black {
    background-color: black;
}

#image {
  background: url('../images/hippo_eats_girl.jpg') no-repeat;
  min-width:500px;
  min-height:500px;
  z-index:9999;
  display:block;
  position: absolute;
  top: 200px;
  left:30%;
}

#red {
  /*z-index: 700;*/
  min-width: 300px;
  min-height: 300px;
  background-color: red;
}

#strobe {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#wrapper{
  position:relative;
}
* {
	margin:0;
	padding:0;
}
.container {
    width: 100%;
}

.grass {
    position: relative;
    float: left;
    height: 400px;
    width: 100%;
    background-color: #c4df90;
}

.top {
    position: relative;
    float: left;
    height: 400px;
    width: 100%;
    background-color: #00a2ff;
    text-align: center;
}


.wrapper {
	background:url(../images/opera-top-bg.jpg) repeat;
	width:100%;
	height:100%;
}
#opera-top {
	width:800px;
	height:100%;
	min-height:800px;
	display:block;
	margin:0 auto;
	padding:50px 0;
}
#frame {
	background:url(../images/frame.png) no-repeat;
	width:512px;
	height:384px;
	padding:95px 122px;
	margin:0 auto;
	position:relative;
}

.candle-wrapper {
	display:block;
}

#candles {
    position:absolute;
    bottom: 0;
    left: 50%;
}

.candle {
    position:relative;
    background: #f2f2f2;
    height:40px;
	width: 20px;
	float: left;
	margin: 0 12px;
	border-radius: 2px;
}
.candle.noFlame {
	height: 65px !important;
	margin-top: -25px !important;
}

.candle:first-child,
.candle:nth-child(3) {
	height: 60px;
	margin-top: -20px;
}

.candle:nth-child(4) {
	height: 50px;
	margin-top: -10px;
}
.candle.noFlame .flamegroup .flame {
	display: none;
}
.flamegroup {
    margin:0 auto;
    position:relative;
    top:-156px;
    width:120px;
    height:156px;

}
.flamegroup:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 7px;
	bottom: 0;
	left: 10px;
	background: #333;
}
.candle.noFlame .flamegroup:before {
	background: #ddd;
}
.flame {
    margin:0 auto;
    margin-left: -50px;
    position:absolute;
    width:100px;
    top: 25px;
    left: 10px;
    height:136px;
    background:url(../images/flames.png) 0px 0px no-repeat;
}

#fl1 {
   animation: flicker 1.3s steps(1) infinite;
   -webkit-animation: flicker 1.3s steps(1) infinite;
}
#fl2 {
   animation: flicker .7s steps(1) infinite;
   -webkit-animation: flicker .7s steps(1) infinite;

}
#fl3 {
   animation: flicker 1.1s steps(1) infinite;
   -webkit-animation: flicker 1.1s steps(1) infinite;

}

@keyframes flicker { /* flame pulses */
    0%,
    100%{background-position:0px 0px; opacity:.8 }
    25% {background-position:-100px 0px;}
    50% {background-position:-200px 0px;; opacity:.4;}
    75% {background-position:-100px 0px;}
}
@-webkit-keyframes flicker { /* flame pulses */
    0%,
    100%{background-position:0px 0px; opacity:.8 }
    25% {background-position:-100px 0px;}
    50% {background-position:-200px 0px;; opacity:.4;}
    75% {background-position:-100px 0px;}
}

/* Down Under */
body, html {
  height: 100%;
}

.wrapper-sea {
	background:#1688a1 url(../images/sting-ray.png) no-repeat bottom center;
	min-height:800px;
}

.contain {
  height: 101px;
  width: 600px;
  margin: auto;
}

.dot {
  float: left;
  height: 101px;
  width: 88px;
  background-color:transparent;
  background-image: url(../images/steve.png);
  background-position: top center;
  margin: 90px 2.5px;
  animation: bounce 0.45s infinite ease alternate;
}
.dot:nth-child(1) {
  animation-delay: -0.075s;
}
.dot:nth-child(2) {
  animation-delay: -0.15s;
}
.dot:nth-child(3) {
  animation-delay: -0.225s;
}
.dot:nth-child(4) {
  animation-delay: -0.3s;
}
.dot:nth-child(5) {
  animation-delay: -0.375s;
}
.dot:nth-child(6) {
  animation-delay: -0.45s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}
.logo {
    width: 120px;
    height: 150px;
}

.dirt {
    background-color: #dbdbdb;
    height: 200px;
}

.house {
    background-color: transparent;
    margin-top: -8em;

}

.house a {
    padding-left: 80px;
>>>>>>> 302b2c5408d63c205a7a0c077766acd6203aa007
}

.youtube {
    height: 1px;
    width: 1px;
}
